{{ if collection=="pages" }}
{{ lang = "en" }}
{{ else }}
{{ lang = "hr" }}
{{ /if }}

{{ partial:partials/nav lang="lang" }}

<!-- hero -->
<div class="container-fluid hero" style="background-image: url('{{ hero_banner }}');">
    <div class="row align-items-center py-10">
        <div class="col-sm-12 offset-sm-0 col-md-6 offset-md-3">
            <h1 class="text-center display-1 text-white has-anim rotate-anim">
                {{ hero_title }}
            </h1>
            <p class="text-center text-light has-anim fade-in-anim"> {{ hero_content }}</p>
        </div>
    </div>
</div>

<!-- services -->
<div class="container my-7">
    
    {{ card_service = 0 }}
    {{ card_id = 1 }}
    {{ services_list }}
    
    {{ if card_service==0 }}
    <div class="row">
        {{ /if }}
        
        <div class="col-sm-12 col-md mb-5 has-anim fade-in-anim {{ 'anim-delay-' + card_service + '00' }}">
            <p class="text-primary">{ {{ card_id }} }</p>
            <p class="display-6">{{ title }}</p>
            <p class="text-secondary">{{ content }}</p>
        </div>
        
        {{ card_service += 1 }}
        
        {{ card_id += 1 }}
        
        {{ if card_service==2 }}
    </div>
    {{ card_service=0 }}
    {{ elseif last}}
</div>
{{ /if }}

{{ /services_list }}
</div>

{{ partial:partials/contactus }}

{{ partial:partials/footer lang="lang" }}